#graph1.hide {
    display:none;
}

.button {
    color:white;
    background-color: rgba(0, 0, 0, 0.726);
   /*  width: 20px;
    height: 10px; */
}




/* Style for all graph dimple */

.dimple-custom-format-1{
   fill: rgba(0, 0, 0, 0.726) !important;
    stroke : white !important;

}
.dimple-custom-format-2{
    fill: rgb(193, 62, 62) !important;
     stroke : white !important;
 
 }
 #selectCountry1 {
     background-color: rgba(0, 0, 0, 0.726);
     color:white;
 }
 #selectCountry2 {
    background-color: rgb(193, 62, 62);
    color:white;
}